.logo-image, .header-text{
    display:inline-block;
}
.menuitems{
    padding:5px;
}
.page-header{
    background-color:darkgreen;
    color:white;
    padding:2px;
}
.logo-image{
    height:100px;
    vertical-align: middle;
}
.header-text{
    position:absolute;
    padding-top:0px;
    padding-left:20px;
}
@media screen and (max-width: 1040px) {
    .subheading {
        display: none;
    }
    .header-text{
        padding-top:35px;
    }
}
h1,h2,h3,h5{
    margin:0px;
    padding:0;
    text-align:left;
}
h1,h2, h3, .logo-image{
    text-align:left;
    display:inline-block;
}
.prediction{
    text-align:center;
    font-size:40px;
    font-weight:bold;
    padding:1px;
    color:blue;
}
.entry-header{
    border:1px solid green;
    width:80%;
    padding:10px;
    background-color:lime;
}
.slider{
    width: 80%;
    height: 25px;
    background: #d3d3d3;
}
.mixed-sanskrit-prediction{
    border:1px solid gray;
    width:80%;
    padding:10px;
    background-color:darkgray;
}
.mixed-bhasha-prediction{
    border:1px solid gray;
    width:80%;
    padding:10px;
    background-color:gray;
}
.prediction-type{
    color:navy;
    font-weight:bold;
}
.card{
    padding:1em;
    border:1px solid green;
    border-radius:30px;
}
.card-output{
    padding:1em;
    border:1px solid green;
    border-radius:30px;
    background:lime;
}
.tableindex1{
    background:white;
    padding:3px;
    border:1px solid aqua;
}
.tableindex2{
    background:white;
    padding:3px;
}
#maincontainer{
    margin-top:10px;
    background-color:azure;
    margin-bottom:10px;
}
body{
    background-color:azure;
}
textarea{
    padding:10px;
    resize: none;
    width:100%;
    height:300px;
    border-radius:5px;
    font-size:16px;
    color:blue;
}
.card-mainpage{
    width:60%;
    height:40%;
    margin:2%;
    text-align: left;
    display:inline-block;
}
#button1{
    margin:2%;
    padding:1%;
    background-color:aquamarine;
}
.border-box{
    width:80%;
    padding:10px;
    border:2px solid blue;
    border-radius:20px;
}
.backbutton{
    margin:5px;
    width:100px;
    height:30px;
    border:1px solid green;
    border-radius:20px;
}
.sum_tble{
    width:80%;
}
#sum_tble{
    padding:10px;
}
#page-sub-heading{
    font-weight:bold;
    font-size:22px;
    padding:5px;
    color:navy;
}
footer{
    border:1px solid green;
    border:1px solid #262b42;
    padding:5px 5px 5px 20px;
    background-color:#262b42;
    color:white;
}
.subfooter0{
    display:inline-block;
    padding:5px;
    border-radius:10px;
}
.subfooter{
    display:inline-block;
    width:70%;
    padding:5px;
    border-radius:10px;
}
#subfooter1{
    border:1px solid gray;
}
.aboutcard{
    padding:5px;
    margin:10px 0 10px 10px;
}
.contactcard{
    padding:5px;
    margin:10px 0 10px 10px;
}
a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
.pred_col{
    width:40%;
    padding:10px;
}